<link href="stylesheets/expenses.css" rel="stylesheet">
<script src="/js/expenses.js"></script>

    <div class="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href=""><img id="logo-img" src="./images/checkyourself.JPG"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="nav-names" href="about.html">About<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link" id="nav-names" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-names" href="home.html">Budget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-names" href="#">Spending</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container" style="width: 100%;">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Add an Expense:</h3>
                            <div class="input-group">
                                <input type="text" id="expense-item" placeholder="item">
                                <input type="text" id="expense-cost" placeholder="cost">
                                <div class="input-group-append" id="choose-category-group">
                                    <select class="custom-select" id="choose-category-dropdown">
                                        <option selected>Category...</option>
                                        <option value="wants">Wants</option>
                                        <option value="needs">Needs</option>
                                        <option value="savings">Savings</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="submit-expense-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3>Your Monthly Spending</h1>
                            <table class="table">
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                {{#each expense}}
                                <tr>
                                    <td scope="col">{{dataValues.item}}</td>
                                    <td scope="col">${{dataValues.cost}}</td>
                                    <td scope="col">{{dataValues.category}}</td>
                                    <td scope="col"><button class="delete-expense-btn btn btn-outline-secondary" data-expenseid={{dataValues.id}}>X</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3>Spending at a Glance</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <canvas id="actualChart"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Primary Needs Spending
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">$2000</h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Wants Spending
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">$2000</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    Savings
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">$2000</h5>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    Leftover Budget
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">$2000</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
