body, html {
    min-height: 687px;
    font-family: 'Muli', sans-serif; 
}

.nav-bar {
    background-color: black;
    color: white;
}

.navbar-toggler-icon, .navbar-toggler {
    color: white !important;
    background-color: white;
}

.nav-link {
    color: white !important;
}

#logo-img {
  height: 60px;
  width: 200px;
}

.black-col {
    background-color: black;
    color: white;
    min-height: 687px;
}

.container-fluid, .full-height-row {
    height: 100%;
}

i {
    font-size: 22px;
    color: white;
}

i:hover {
    font-size: 24px;
    color: #dd3444 !important;
}

.wants {
    color: #f08a5d;
}

.needs {
    color: #6a2c70;
}

.savings {
    color: #b83b5e;
}

.goal {
    font-weight: bold;
}

.needs, .savings, .wants {
    font-weight: bold;
    text-transform: capitalize;
}

.goal-card {
    margin-left: auto;
    margin-right: auto;
}

#needs-card {
    background-color: #6a2c70;
}

#wants-card {
    background-color: #f08a5d;
}

#savings-card {
    background-color: #b83b5e;
}

#leftover-card {
    background-color: #ffc933;
}

.add-expense-card {
    background: none;
    border: 1px solid white;
}

.expense-table-row {
    margin-top: 60px;
    margin-bottom: 40px;
}

#submit-expense-btn {
    font-size: 18px;
    color: black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#submit-expense-btn:hover {
    background-color: #ffc933;
    color: white;
    font-size: 20px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    width: 50%;
  }
}