form.signup,
form.login {
}

html, body {
    min-height:100%;
    height: 100%;
    font-family: 'Muli', sans-serif; 
  }

#about {
  color: black;
  font-family: 'Muli', sans-serif;
}
  .nav-bar {
    background-color: black;
    color: white;
    width: 50%;
}

#nav-names {
    color: white;
}
#logo-img {
  height: 60px;
  width: 200px;
}
.row {
  height: 100%;
}
  .container {
    height: 100%;
    width: 50%;
    padding-right: 0px;
  }
  
  #accountInf {
    padding-top: 150px;
    padding-left: 70px;
    background-color:black;
    height: 100%;
    color: white;
  }
  
  footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  }