form.signup,
form.login {
}



html, body {
  min-height:100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background: url("../images/Landing-Page-2.png") no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: contain;
  
}

nav{
  background-color: transparent !important;
}

.nav-item{
  margin-right: 60px;;
}

.navbar-nav a {
  color: white;
}
.title-container{
  text-align: center;
}

.title{
  position: relative;
  left: -10%;
  top: 60%;
  width: 100%;
}

.login-form{
  position: relative;
  left: 30%;
  top: 60%;
  width: 100%;
}


#login-title{
  font-size: 72px;
  font-weight: 550;
}

h1{
  font-size: 72px;
  font-weight: 550;
  color: white;
}

#tagline {
  font-size: 20px;
  color: rgba(197, 197, 197, 1);
}

